.nuxt-content {
  @apply leading-relaxed;
   p {
     @apply py-1 mb-2 leading-7 transition-colors duration-300 ease-linear;

    code {
      @apply py-2px px-3px bg-gray-300 bg-opacity-50 rounded-md text-purple-600;
    }


     img {
       @apply mx-auto rounded;
     }
  }

  a {
    @apply text-green-600 font-bold;

    code {
      @apply py-2px px-3px bg-gray-300 shadow-xs bg-opacity-25 rounded-md text-purple-600;
    }
  }

  h2, h3 {
    @apply text-gray-900 relative mt-6 mb-2 text-2xl;

    &::before {
      @apply block pointer-events-none invisible;

      height: 85px;
      margin-top: -85px;
      content: " ";

      @screen lg {
        height: 100px;
        margin-top: -100px;
      }
    }

    & > a {
      @apply ml-5;

      &::before {
        content: "#";
        @apply text-green-500 font-normal text-xl leading-8 -ml-5 pr-2 absolute opacity-100 transition-opacity duration-300 delay-200 ease-in-out;
      }

      @screen lg {
        @apply ml-4;

        &::before {
          @apply opacity-0;
        }
      }
    }
    &:hover {
      & > a::before {
        @apply opacity-100;
      }
    }
  }
  pre {
    @apply rounded static;
  }

  ul {
    list-style-type: disc;
    @apply my-2 mx-5;
  }

  & .nuxt-content-highlight {
    @apply relative;

    & > .filename {
      @apply absolute right-0 text-gray-200 font-light z-10 mr-2 mt-1 text-sm;
    }

    & > button {
      @apply opacity-0 absolute right-0 bottom-0 leading-none shadow-lg px-2 py-2 text-white bg-gray-800 text-sm uppercase rounded-md border border-white font-semibold mr-3 mb-3 transition duration-300 delay-100;

      &:hover {
        @apply bg-gray-700;
      }
      &:focus {
        @apply outline-none;
      }
    }
    &:hover {
      & > button {
        @apply opacity-100;
      }
    }
  }
}

body {
  @apply antialiased text-gray-700;
}

html {
  scroll-behavior: smooth;
}

.dark-mode {
  body {
    @apply bg-gray-800 text-white transition duration-300;
  }

  .nuxt-content {
    p {
      code {
        @apply text-teal-400 bg-gray-900;
      }
    }
    h2, h3 {
      @apply text-white;
    }

    a {
      code {
        @apply text-teal-400 bg-gray-900;
      }
    }
  }
}
