rules_version = '2'

service cloud.firestore {
  function isValidArticles(article){
    return article.size () == 1 &&
    'view' in article && article.view is int
  }

  match /databases/{database}/documents {
    match /articles/{slug} {
      allow get, read;

      allow create, update: if isValidArticles(request.resource.data);
    }
  }
}
